# Copie este arquivo para application.properties e preencha suas credenciais

spring.application.name=Projeto_Labels_Keywords
spring.datasource.url=jdbc:mysql://localhost:3306/seu_banco?serverTimezone=UTC
spring.datasource.username=root
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=validate